@charset "utf-8";

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &::selection {
		background-color: $c-yellow;
		border-radius: 2px;
  }
}

button, a {
	&:not([disabled]) {
		cursor: pointer;
		outline: none;
	}
}

ul, ol, li, h1, h2, h3, h4, p {
	font-weight: normal;
	margin: 0;
	padding: 0;
	list-style: none
}

::placeholder {
  color: lighten( $c-dark-rey, 50% );
  opacity: 1;
}

::-ms-input-placeholder {
  color: lighten( $c-dark-rey, 50% );
}

html,
body,
#app {
	padding: 0;
	margin: 0;
}

body {
	background: lighten($c-violet, 35%);
}

#app {
	@include text--regular;
	@include column-content;

	color: #2c3e50;
	min-height: 100vh;
}
